.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #f8fafc;
}

.home-title {
  margin-bottom: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
  color: rgb(0, 0, 0);
  font-size: 70px;
}

.home-subtitle {
  margin-top: 0;
  margin-bottom: 4rem;
  font-weight: 100;
}

.start-button {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family:'Times New Roman', Times, serif;

  background-color: green;
  color:#f8fafc;
  border-radius: 10ch;
  border-width: 0ch;
  font-size: 15px;
  cursor:pointer;
}