.interview-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fafc;
}

.question-section {
    display: flex;
    justify-content: center;
    margin-top: 18vh;
}

.question-container {
    max-width: min(80vw, 900px);
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.controls-section {
    margin-top: 33vh;
    margin-bottom: 0;
    color: #f8fafc
}

.start-recording-button,
.stop-recording-button {
    width: 150px;
    height: 50px;
    border-radius: 10ch;
    border: none;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.start-recording-button {
    background-color: green;
    color: #f8fafc;
}

.start-recording-button:hover {
    transform: translateY(-1px);
}

.stop-recording-button {
    background-color: red;
    color: #f8fafc;
}

.stop-recording-button:hover {
    transform: translateY(-1px);
}

.terminate-button {
    position: fixed;
    bottom: 2vh;

    width: 100px;
    height: 25px;

    background-color: black;
    color: #f8fafc;

    border-radius: 10ch;
    border: none;
    font-size: 10px;
    cursor: pointer;
}