.start-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heading {
    margin-top: -25vh;
}

.info-container {
    margin-top: 20px;
    min-height: 30vh;
    resize: none;
}

.start-interview-button {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: green;
    color:white;
    border-radius: 10ch;
    border-width: 0ch;
    font-size: 15px;
    cursor:pointer;
}

textarea {
    max-height: 16px;
    transform: translateY(30%);
}